{% extends 'faculty/layout.html' %} {% load static %}


{% block container %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="page2">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Grades </h1>
    </div>
    <h5>Update Student's Grades :</h5><br>
    <form  >
        {% csrf_token %}
        <div class="mb-3 w-50">
            <label for="enroll_no" class="form-label">Enrollment No.</label>
            <input name="enroll_no" type="text" class="form-control" id="enroll_no" required>
        </div>
        <div class="mb-3 w-50">
            <label for="sub_id" class="form-label">Subject Id</label>
            <input name="sub_id" type="text" class="form-control" id="sub_id" required>
        </div>
        <div class="mb-3 w-50">
            <label for="updateGrades" class="form-label">Update Grades / SPI</label>
            <input name="updateGrades" type="text" class="form-control" id="updateGrades" required>
        </div>
        <button style="float: left" type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if messageAlert %}
    <div class="notification text-danger is-light my-2">
        <button type="button" class="delete alertBtn">
            <i class="fas fa-times"></i>
        </button>
        {{ messageAlert }}
    </div>
    {% elif messageSuccess %}
    <div class="notification text-success is-light my-2">
        <button type="button" class="delete successBtn">
            <i class="fas fa-times"></i>
        </button>
        {{ messageSuccess }}
    </div>
    {% endif %}
</main>
{% endblock %}